body {
    background-color: #fff7f1;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.taskbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.taskbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.taskbar li {
  display: inline;
  margin-right: 20px;
}
.taskbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.taskbar a:hover {
  color: #ffd700; /* Change color on hover */
}

.images{
    background-color: #81acc967;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    top: 80px;
    border:3px white;
    height: 120px;
    width: auto;
padding-bottom: 10px;
}
.review-container {
    margin-left: 550px;
    /* margin-top: 120px; */
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.review{
    margin-top: 100px;
    margin-left: 550px;
}

.review-container .submit-button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.review-container .submit-button:hover {
    background-color: #0056b3;
}